body {
    background-image: url("https://imgs.search.brave.com/mRx2jZz6gLbw3upXYoxG-D_BrzijfTnCbbrKLF65Pzg/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9zdGF0/aWMud2lraWEubm9j/b29raWUubmV0L2Fs/aWVucy9pbWFnZXMv/Ny83Mi9CYWJhX0Jv/eS5wbmcvcmV2aXNp/b24vbGF0ZXN0L3Nj/YWxlLXRvLXdpZHRo/LWRvd24vMjUwP2Ni/PTIwMTAwNTE0MDg0/MzE3");
    background-repeat: no-repeat;
    background-size: cover;
}