.rubikbald {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.rubiklight {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

.PagesButtons{
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

button{
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    background-color: #ee5d6c;
    border: none;
    display: inline-block;
    display: block;
}

body{
    background-color: #6a0d83;
}

.buttoncontainer {
    width: 300px;
    height: 100px;
    padding: 10px;
}