:root{
    --textcolor: #fb9062;
    --bgcolor: #6a0d83;
    --buttoncolor: #ee5d6c;
}


.rubikbald {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  color: var(--textcolor);
}

.rubiklight {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    color: var(--textcolor);
}

.PagesButtons{
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    color: var(--textcolor);
}

button{
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    background-color: var(--buttoncolor);
    border: none;
    display: inline-block;
    display: block;
}

body{
    background-color: var(--bgcolor);
}

.buttoncontainer {
    width: 300px;
    height: 50px;
    padding: 10px;
}