.medievalsharp-regular {
    font-family: "MedievalSharp", cursive;
    font-weight: 400;
    font-style: normal;
}

body {
    background-image: url(Images/1.jpg);
    z-index: 1;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagedisplay {
    text-align: center;
    width: 100%;
    margin-top: 1em;
}

.bgimage {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: 45em;
}

.options {
    font-family: "MedievalSharp", cursive;
    font-weight: 600;
    font-style: normal;
    font-size: xx-large;
    color: white;
    text-align: center;
    margin-top: 1em;
}

.options p {
    margin: auto;
    padding: 1%;
    width: fit-content;
    background-color: rgb(112, 112, 91);
    border-radius: 1em;
}

.narration {
    margin-top: 1em;
    font-family: "MedievalSharp", cursive;
    font-weight: 600;
    font-style: normal;
    font-size: large;
    color: white;
    text-align: center;
}

.narration p {
    margin: auto;
    padding: 1%;
    width: fit-content;
    background-color: rgb(112, 112, 91);
    border-radius: 1em;
}

.main{
    backdrop-filter: blur(50px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}
