.medievalsharp-regular {
    font-family: "MedievalSharp", cursive;
    font-weight: 400;
    font-style: normal;
}

body{
    background-color: black;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.options{
    font-family: "MedievalSharp", cursive;
    font-weight: 600;
    font-style: normal;
    font-size: xx-large;
    
    text-align: center;
    margin-top: 25%;
}

p{
    margin: auto;
    padding: 2%;
    width: fit-content;
    background-color: azure;
    border: 1px;
    border-style: solid;
    border-radius: 1em;
    box-shadow: 10px, 10px;
}